<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   


    
    <title>Document</title>
</head>
<body>
        <div class="container">
        <div class="row">
            <div class="col col-sm-6">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga expedita incidunt soluta quia quo nulla libero ullam molestiae nesciunt hic beatae necessitatibus, alias deserunt fugit rem explicabo at distinctio.</h1>

            </div>
            <div class="col col-sm-6">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ut quisquam fugit, assumenda quae enim? Soluta neque similique quam ad quae autem cum optio laudantium placeat, cumque debitis tenetur fugiat.</h1>
            </div>
        </div>
        </div>
   
</body>
</html>